@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body,html{
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(203, 226, 255);
}
header{
    background-color: rgb(81, 156, 255);
    padding: 15px;
}
.logo{
    color: white;
    font-size: 40px;
    font-weight: bold;
    font-family: "Poppins";
    display: flex;
    align-items: center;
    margin-left: 70px;
}
.logo span{
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Poppins";
}
main{
    font-family: Arial, Helvetica, sans-serif;
}
.times{
    background-color: rgb(18, 121, 255);
    display: flex;
    color: white;
    padding: 15px;
    justify-content: space-around;
}
.times hr{
    opacity: .5;
}
.time-toggle{
    /* background-color: orangered; */
    padding: 6px 12px;
    border-radius: 4px;
}
.time-toggle:hover{
    background-color: rgba(255, 255, 255, 0.151);
}
.active{
    font-weight: bold;
}
.main-content{
    display: flex;
    height: 450px;
    border: 1px solid red;
}
.sidebar{
    background-color: rgb(187, 218, 255);
    flex: 1;
    padding: 30px;
    font-size: 22px;
}
#main-toggle{
}
.cat{
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
}
.create-cat{
    display: flex;
    font-size: 16px;
    align-items: center;
}
.create-cat ion-icon{
    font-size: 24px;
    margin-right: 5px;
}
.sidebar-toggle{
    border-radius: 4px;
    padding: 5px;
}
.sidebar-toggle:hover{
    background-color: rgba(255, 255, 255, 0.253);
}
.content{
    padding: 30px;
    flex: 4;
}
.active-content{
    font-size: 22px;
    font-weight: normal;
}
#time-period, #category{
    font-size: 40px;
    font-weight: bold;
}
ion-icon{
    font-size: 30px;
}
/* footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin-top: auto;
} */